  *{
  margin: 0;
  padding:0;
  }
  a{
  text-decoration: none;
  color: white;
  }
  a:link {
  color: #f28fe2;
  }
  a:hover:focus {
  color: #f28fe2;
  }
  a:active {
  color: #f28fe2;
  }
 body{
  background-color: black;
  color: white;
  font-family: "Franklin Gothic" , sans-serif;
  font-size: 16px;
  overflow-x: hidden;
 }
 header h1{
 text-shadow: 1.5px 1.5px white;
 color: #ffe6ee;
 margin-top: 10px;
 padding: 15px;
 }
 header img {
  float: left;
  height: 80px;
  width: 80px;
 }
 .nav-brand {
  color: white;
 }
.navbar {
  background-color: #ffe6ee;
}

.navbar-collapse a {
color: black;
}
.dropdown-menu{
background-color: #ffe6ee;
}
#cart {
 margin: 10px;
}
#carousel {
  margin: 0 auto;
  max-width: 100%;
  padding: 45px;
 }
 h3 {
  text-align: center;
  margin: 55px;
  padding: 30px;
 }
 .carousel-inner img{
   object-fit: cover;
 }
 .card{
  margin: 55px;
  border:0;
  background-color: black;
  object-fit: cover;
 }
 .card h5{
  text-align: center;
 }
 .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: black;
     color: white;
     text-align: center;
     padding: 10px;
     font-size: 0.5rem;
 }
