h2{
color: white;
margin: 20px;
padding: 20px;
text-align: center;
}

.product {
  margin-bottom: 20px;
}

.product img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.product h5, p{
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 20px;
}
 @media (max-width: 319px) {
  .product {
     flex-grow: 0;
     flex-shrink: 0;
     flex-basis:100%;
     max-width: 100%;
  }
  .products img {
    height: 100%;
  }
}
button{
border-radius: 4px;
padding: 10px 24px;
border: none;
background-color: #ffe6ee;
color: black;
font-size: 22px;
}
button:hover:focus {
color: #f28fe2;
}
p {
margin: 0 auto;
padding: 0 90px;
}
#checkout {
padding-top: 40px;
margin: 10px auto 80px;
}