 *{
 margin: 0;
 padding:0;
 box-sizing: border-box;
 }
 a{
 text-decoration: none;
 color: white;
 }
body{
 background-color: black;
 color: white;
 font-family: "Franklin Gothic" ;
 font-size: 13px;
}
.nav-item a{
color: white;
}
.dropdown-menu{
background-color: #ffe6ee;
}
.dropdown-menu a {
color: black;
}
#head h1{
text-shadow: 1.5px 1.5px white;
color: #ffe6ee;
}
#brandlogo {
 float: left;
 height: 80px;
 width: 80px;
}
.nav-brand {
 color: white;
}

.form-group{
 float: left;
 text-align: center;
}
#carousel {
 margin: auto;
 max-width: 100%;
}
h3 {
 text-align: center;
 margin: 55px;
 padding: 30px;
}
#carousel {
 margin: 55px;
 padding: 30px;
}
.card{
 margin: 55px;
 border:0;
 background-color: black;
}
.card h5{
 text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
